
img  {
    width: 100%;
    height: 100%;
}

.conten {
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300px;
    height: 300px;
}

.btnPrev{
    position: absolute;
    left: 0;
    top: 0;
    height: 304px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;

}

.btnNext {
    position: absolute;
    height: 304px;
    top: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.main{
    width: 388px;
    height: 305px;
    position: relative;
    
}