table {
    border-collapse: collapse;
    border: 2px solid lightgrey;
}
td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.black {
    background-color: black;
    color: #ffffff;
    border: 2px solid black;
    border-bottom: none;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}